
Source/.vs/AdditionalCommands/v16/.suo
Source/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Source/obj/Debug/AdditionalCommands.csproj.AssemblyReference.cache
Source/obj/Debug/AdditionalCommands.csproj.CoreCompileInputs.cache
Source/obj/Debug/AdditionalCommands.csproj.FileListAbsolute.txt
Source/obj/Debug/AdditionalCommands.dll
Source/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Source/AdditionalCommands.csproj
Source/AdditionalCommands.csproj
